app-radio-button {
  position:absolute;
}
::ng-deep mat-radio-button {
  display:inline-block;
  width:100%;
  height:100%;
  border-radius: 20px;
  transition: background 400ms;
  label {
    width:100%;
    height:100%;
  }
  .mat-radio-container {
    display: none;
  }
}
::ng-deep .mat-radio-checked {
  background:rgba(0, 238, 255, 0.356);
}
